<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <form action="">
            <br>
            <input class="form-control" type="text" name="" id="">
            <br>
            <input class="form-control" type="number" name="" id="">
            <br>
            <button class="btn btn-success">Enviar</button>
        </form>
    </body>
</html>